:host{
    margin: .8em;
}
.dragzone{
    height: 100%;
    border: 1px dashed #93B0C8;
    border-radius: .8em;
}

.dragzone-label{
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0 1em 1em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: .5em;
}
.dragzone-label mat-icon{
    color: #93B0C8;
    font-size: 4em;
}
.image-dragzone-desc{
    position: absolute;
    bottom: 0;
    color: #93B0C8;
}
.image-display{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-display-icons{
    position: relative;
    margin: 2em auto 1em auto;
}

.imageDrop-plus{
    display: none;
}

.dragzone-active{
    border-color: #0075ff;
    opacity: .7;
}
.dragzone-active .imageDrop-image{
    display: none;
}
.dragzone-active .imageDrop-plus{
    display: block;
}
.dragzone-active .image-dragzone-desc,
.dragzone-active mat-icon{
    color: #0075ff;
}
.dragzone-image{
    width: 100%;
    height: 100%;
    border-radius: .5em;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}
