<div class="dragzone" [ngClass]="(dragzoneActive)?'dragzone-active':'' " >
    <label for="imageDrop" class="dragzone-label">
        <input id="imageDrop" type="file" accept="image/jpg, image/png" (change)='dragHandler($event, false)' hidden >
        <div class="image-display" >
            <div *ngIf="!productService.imageDisplayVisible" class="image-display-icons">
                <mat-icon>insert_photo</mat-icon>
                <mat-icon>plus</mat-icon>
            </div>
            <div *ngIf="productService.gallery.length > 0" class="dragzone-image" style="background-image: url( '{{productService.getSelectedImage()}}' )" ></div>
        </div>
        <h6 class="image-dragzone-desc" >Drag your images</h6>
    </label>
</div>