<mat-card fxLayout="row" fxLayout="column" >
<form id="productForm" [formGroup]="productService.productForm" #form="ngForm" enctype="multipart/form-data" (ngSubmit)=" onSubmit(form)" >
    <mat-card-title > <h1>New Product</h1> </mat-card-title>
    <mat-card-content  >
        <mat-card class="mat-card-details  mat-elevation-z5" fxFlex="40" >
            <mat-card-title> <h1>Details</h1> </mat-card-title>
            <mat-card-content>
                <div fxLayout="row">
                    <mat-form-field fxFlex="70" appearance="legacy" >
                        <mat-label>Title</mat-label>
                        <input matInput type="text" name="title" formControlName="title" [errorStateMatcher]="productService.matcher" placeholder="title" >
                    </mat-form-field>
                    <mat-form-field fxFlex="30" appearance="legacy">
                        <mat-label>Category</mat-label>
                        <mat-select name="category" formControlName="category" [errorStateMatcher]="productService.matcher" >
                            <mat-option *ngFor="let category of categories" [value]="category._id">
                            {{category.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxLayout="row">
                    <mat-form-field fxFlex="100" appearance="legacy">
                        <mat-label>Price</mat-label>
                        <input matInput type="number" name="price" formControlName="price" [errorStateMatcher]="productService.matcher" >
                        <span matPrefix>$&nbsp;</span>
                        <span matSuffix>.00</span>
                    </mat-form-field>
                </div>
                <div fxLayout="row">
                    <mat-form-field fxFlex="100" appearance="legacy" >
                        <mat-label>Description</mat-label>
                        <textarea matInput type="text" name="desc" formControlName="desc" [errorStateMatcher]="productService.matcher" placeholder="description..." ></textarea>
                    </mat-form-field>
                </div>  
                <div fxLayout="row">
                    <mat-form-field fxFlex="100" appearance="legacy" >
                        <mat-chip-list #chipList aria-label="Tag selection"  >
                          <mat-chip *ngFor="let tag of tags" [selectable]="tagSelectable" 
                            [removable]="tagRemovable" (removed)="remove(tag)">
                            {{tag}}
                            <mat-icon matChipRemove *ngIf="tagRemovable">cancel</mat-icon>
                          </mat-chip>
                          <input matInput placeholder="New tag..."
                                [matChipInputFor]="chipList"
                                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                [matChipInputAddOnBlur]="tagAddOnBlur"
                                formControlName="tags" 
                                (matChipInputTokenEnd)="add($event)">
                        </mat-chip-list>
                      </mat-form-field>
                </div>     
            </mat-card-content>
        </mat-card>

        <mat-card class="mat-card-gallery mat-elevation-z5"  >
            <mat-card-header>
                <mat-card-title>Gallery</mat-card-title>
                <span fxFlex fxLayoutAlign="end" >{{productService.gallery.length}}</span>
            </mat-card-header>
            <mat-card-content class="mat-card-display" >
                <app-image-drag></app-image-drag>
            </mat-card-content>
              <mat-card-footer>
                <div class="gallery-slide" > 
                    <div *ngFor="let image of productService.gallery; let i = index" class="gallery-slide-item" 
                            [ngClass]="(productService.selectedImage === i) ? 'gallery-slide-item-active': ''" 
                            (click)="productService.setSelectedImage(i)" >
                        <div class="gallery-slide-img" style='background-image: url({{image}});' ></div>
                        <div class="gallery-slide-option">
                            <button class="gallery-slide-delete" mat-mini-fab color="warn" (click)="productService.removeImage(i)" >  <mat-icon>delete</mat-icon> </button>
                        </div>
                    </div >                 
              </div>
              </mat-card-footer>
        </mat-card>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button mat-raised-button type="reset" >RESET</button>
        <button mat-button mat-raised-button type="submit" >CREATE</button>
    </mat-card-actions>
</form>
</mat-card>