<mat-card class="mat-elevation-z5" >
    <div class="card-bg"></div>
    <form [formGroup]="signUpForm" #form="ngForm" (ngSubmit)="onSubmit(form)" >
    <mat-card-title> <h1 fxFlex fxLayoutAlign="center" >SIGN UP</h1> </mat-card-title>
    <mat-card-content fxLayout="column" >
        <mat-form-field fxFlex="100" appearance="legacy" >
            <mat-label> <mat-icon class="material-icons-outlined" >email_outline</mat-icon> EMAIL </mat-label>
            <input matInput type="email" name="email" formControlName="email" [errorStateMatcher]="matcher"  placeholder="email@exanple.com" >
            <mat-error *ngIf="emailServerError && !(signUpForm.controls.email.hasError('email') || signUpForm.controls.email.hasError('required')) " > {{emailMessage}} </mat-error>
            <mat-error *ngIf="signUpForm.controls.email.hasError('email') && !signUpForm.controls.email.hasError('required')"> Please enter a valid email address </mat-error>
            <mat-error *ngIf="signUpForm.controls.email.hasError('required')"> email is <strong>required</strong> </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="100" appearance="legacy" >
            <mat-label><mat-icon class="material-icons-outlined" >vpn_key</mat-icon> PASSWORD</mat-label>    
            <input matInput [type]="hide ? 'password' : 'text'" name="password" formControlName="password" [errorStateMatcher]="matcher" placeholder="Password" >
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon class="material-icons-outlined" >{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="signUpForm.controls.password.hasError('minlength') && !signUpForm.controls.password.hasError('required')"> Please enter at lest 4 characters </mat-error>
            <mat-error *ngIf="signUpForm.controls.password.hasError('required')"> password is <strong>required</strong> </mat-error>
        </mat-form-field>      
    </mat-card-content>
    <mat-card-actions>
        <button mat-button mat-stroked-button type="reset" >CLEAR</button>
        <button mat-button mat-stroked-button type="submit"  fxFlex  >REGISTER</button>
    </mat-card-actions>
    <mat-card-footer >
        <a mat-button fxFlex fxLayoutAlign="center" >Already a member? </a>
    </mat-card-footer>
    </form>
</mat-card>